<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="iconbank.png">
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    a {
            color: #EE404D;
            text-decoration: none;
            font-weight: bold;
        }

    input[type="email"],
    input[type="password"] {
        padding: 10px;
        border-radius: 10px;
        border-width: 1px;
        width: 300px;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #3e8e41;
    }
    
</style>

<body>
    <br>
    <h1><a>Clicknext</a> X Bank</h1>
    <h1>Login page</h1>
    <form id="submitForm" action="javascript:login()">
        <input type="email" id="email" placeholder="Email" name="email"><br><br>
        <input type="password" id="password" placeholder="Password" name="password">
        <br><br>
        <button>Login</button>
    </form>
</body>

<script>
    async function login() {
        let d = document;
        let data = { "email": d.getElementById("email").value, "password": d.getElementById("password").value }
        //console.log(data);
        let response = fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                if (response.data == false) {
                    alert("Error with Token Or Time out Please Login again.");
                    window.location = '/login'
                }
                if (data.status == 200) {
                    localStorage.setItem('access_token', data.access_token);
                    //console.log(data);
                    window.location = '/menu'
                }
                if (data.status == 404) {
                    alert(data.message);
                }
                // console.log('Success:', data.message);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

</script>

</html>